[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
aiohttp = "*"
fake-useragent = "*"
aiosqlite = "*"
pytz = "*"
aiofiles = "*"
openpyxl = "*"
numpy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
